@use "../../styles/theme" as t;

.button {
  color: t.$button-text;
  background-color: t.$button;
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 15px;
  padding: t.$spacing-1 t.$spacing-3;
  margin: t.$spacing-1;
  .right {
    clip-path: polygon(80% 100%, 100% 0%, 0% 0%, 0% 100%);
  }
  .left {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 20% 100%);
  }
  &:hover {
    cursor: pointer;
  }
  /* TODO: don't use disabled: accessibility */
  &:disabled {
    background-color: grey;
    cursor: default;
  }
}

/*
// elements on the right extend the top-right vertex away from the center

clip-path: polygon(80% 100%, 100% 0%, 0% 0%, 0% 100%);

*/


/*
// elements on the left extend the top-left vertex away from the center

clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 20% 100%);
*/