/* Colors */
$secondary: #eaddcf;
$background: #f9f4ef;
// $text: #020826;
$text: #716040;
$border: #b8c1ec;
$button: #8c7851;
$button-text: #fffffe;
$highlight: #8c7851;
$headline: #020826;
$disabled: #f25042;

/* Spacing */
$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 15px;

/* Borders */
$radius: 15px;
