/* Colors */
$primary: #FF8B38;
$secondary: #FFF;
$dark: #292828;
$black: #0F0D0D;
$background: linear-gradient($black 0%, $dark 100%);
$text: $secondary;
$disabled: #f25042;
$disabled: $primary;

$input: $primary;
$inputText: $secondary;

$button: $primary;
$button-text: $secondary;

/* Spacing */
$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 15px;

/* Borders */
$radius: 15px;
