@use "./theme" as t;

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  background: t.$background;
  min-height: 100svh;
  color: t.$button-text;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: t.$text;
}

p,
label,
li {
  color: t.$text;
  margin: 0;
}

button,
input {
  color: t.$text;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* UserData */
.userData {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
/* StoreItem */
.itemName {
  font-size: 50px;
}
