@use "../../../styles/theme" as t;

.storeItem {
  min-width: 130px;
  text-align: center;
  outline: 1px solid t.$dark;
  background: t.$background;
  padding: t.$spacing-2;
}

.character {
  font-size: 50px;
  line-height: 50px;
  height: 75px;
  span {
    text-transform: uppercase;
  }
}

.unlocked {
  color: t.$primary;
}
