@use "../../styles/theme" as t;

.inputField {
  display: flex;
  justify-content: flex-end;
  column-gap: t.$spacing-3;
  margin-bottom: t.$spacing-2;
  * {
    padding: t.$spacing-1 t.$spacing-2;
    z-index: 1;
  }
  label {
    text-transform: uppercase;
    text-align: right;
  }
  input {
    color: t.$input-text;
    background-color: t.$input;
    border: none;
    clip-path: t.$right-clip;
    padding-right: t.$clip-padding;
    &:focus-visible,
    &:focus {
      border: none;
      outline: none;
    }
  }
}
