@use "../../styles/theme" as t;

.modal {
  position: absolute;
  inset: 40px;
  border: none;
  background: t.$background;
  overflow: auto;
  outline: none;
  padding: 20px;
  .modalHeader {
    text-align: right;
  }
}
